html,
body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  background: url(./Pictures/Grass.jpg);
  overflow: auto;
}

.gameContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#roadContainer {
  /* Ensure 1:1 Aspect Ratio */
  max-height: 100vw;
  max-width: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#road {
  /* Ensure 1:1 Aspect Ratio */
  max-height: 100vw;
  max-width: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}

#road > div {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  image-rendering: crisp-edges;
}


#notifications {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.innerNotifModal {
    max-height: 100%;
    max-width: 100%;

    height: 300px;
    width: 500px;
    background: #424242;
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerNotifModal .modalTitle {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}

.innerNotifModal .modalContent {
    font-size: 18px;
    width: 100%;
}

.innerNotifModal .modalButtons {
    margin-top: auto;
    display: flex;
    align-items: center;
}

.itemPicture {
  max-height: 300px;
  max-width: 260px;
}

@keyframes executeionAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  60% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

#executionWarningContainer {
  pointer-events: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 2000;
}

.executionWarning {
  opacity: 0;
  height: 300px;
  max-height: 100%;
  max-width: 100%;
  animation: executeionAnimation 2s cubic-bezier(.47,1.64,.41,.8) forwards;
}